{# templates/xml_viewer/view_xml.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Просмотр XML{% endblock %}

{% block body %}
    <div class="container__xsd-viewer" style="width: 70%">
        {# <h1>Просмотр XML</h1>
        <div class="xml-content">
            <pre>{{ xmlContent|raw }}</pre>
        </div> #}
        <h1>XML Parser</h1>

        {% if errors|default %}
            <ul class="errors">
                {% for error in errors %}
                    <li class="error">
                        {{error}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Parsed XML:</h2>
        {{ xml|raw }}
    </div>
{% endblock %}
