{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="button-container">
        <a href="{{ path('view_xml_upload') }}">Вывод данных из XML</a> <!--заглушка надо потом поменять-->

    </div>
    <div class="button-container">

        <a href="{{ path('upload_xsd') }}">Генерация данных в XML</a>
    </div>
</body>


{% endblock %}
